.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron

*.tar.gz
*.Rcheck/

R/vignettes/*.html
R/vignettes/*.pdf
R/vignettes/*.R
R/vignettes/*_cache/
R/vignettes/*_files/
R/inst/doc/
R/doc/
R/Meta/

R/inst/extdata/parts/
R/inst/extdata/parts_gencode/

R/man/figures/logo*

R/docs/

R/tests/testthat/Rplots.pdf

.DS_Store

